.backg {
  background-color: aliceblue;
}

.listyazısı {
    width: 600px;
    left: 83px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 29px;
    font-weight: 540;
    line-height: 55px;
    text-align: left;
    color: black;
    pointer-events: none;
   
  }
  
  .background a {
    text-decoration: none; /* Alt çizgiyi kaldırır */
   
    
  }
  
  
  .background li {
    color: white;
  
  }
  .startButon {
    width: 180px;
height: 50px;
margin-top: 10px;
margin-left: 50px;
gap: 0px;
border-radius: 10px 10px 10px 10px;
opacity: 0px;
box-shadow: 3px 11px 8.3px 0px #00000040;

  }
