.containerSecondNav {
    opacity: 1; 
    padding-top: 40px;
}

.navItem {
    font-size: 1.025rem;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-top: -47px; 
    display: flex;
    align-items: center;
}

.logOut {
    font-size: 1.025rem;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
    margin-top: 9px; 
}

.logOutikon {
    width: 34px;
    height: 34px; 
}

.logo {
    width: 350px;
    height: 278px;
    margin-top: -170px;
    left: 161px;
    cursor: pointer;
}
