.auth-c {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 160px;
  background: linear-gradient(180deg, #b8ccfb 0%, #5c6989 100%);
  box-shadow: 0px 4px 26px 10px #00000040;
  height: 450px;
  border-radius: 31px;
  top: 10px;
}
.auth-c button {
  width: 230px;
  height: 62px;
  border-radius: 20px;
  padding: 13px;
  margin: -70px;
  margin-left: 70px;
}
.left-c {
  margin-top: 80px;
}